# WEB SCRAPING – ASSIGNMENT 2

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.naukri.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")  

designation.send_keys('Data Analyst')

In [5]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div[1]/input")

location.send_keys('Bangalore')

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")

search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

#scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,'//a [@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
#scraping company name from the given web page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping  job experience from the given web page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [8]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [9]:
df=pd.DataFrame({'JOB_title':job_title,'Job_location':job_location,'Company_name':company_name,"Exp_required":experience_required})
df

,JOB_title,Job_location,Company_name,Exp_required
0,BYJU'S DBEL : Sr Data Analyst,Bangalore/Bengaluru,BYJUS,3-7 Yrs
1,Business Data Analyst,Bangalore/Bengaluru,Varite,8-11 Yrs
2,Sr. Analyst Manufacturing Data Analytics/ Data...,Bangalore/Bengaluru,Kennametal,5-8 Yrs
3,Clinical Data Analyst II,Bangalore/Bengaluru,Parexel,4-8 Yrs
4,Finance Tax Data Analyst,Bangalore/Bengaluru,Thomson Reuters,1-4 Yrs
5,Data Analyst French),"Bangalore/Bengaluru, Pune, Vadodara",Numerator India Private Limited,0-2 Yrs
6,Business Data Analyst 3,Bangalore/Bengaluru,Varite,5-8 Yrs
7,Business Data Analyst 3,Bangalore/Bengaluru,Varite,5-7 Yrs
8,Business Data Analyst 1,Bangalore/Bengaluru,Varite,1-2 Yrs
9,Business & Data Analyst- Assistant Manager,"Bangalore/Bengaluru, Hyderabad/Secunderabad",State Street,1-3 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [10]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.naukri.com/")

In [11]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")  

designation.send_keys('Data Scientist')

In [12]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div[1]/input")

location.send_keys('Bangalore')

In [13]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")

search.click()

In [14]:
job_title=[]
job_location=[]
company_name=[]

#scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,'//a [@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
#scraping company name from the given web page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [15]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [16]:
df=pd.DataFrame({'JOB_title':job_title,'Job_location':job_location,'Company_name':company_name,"Exp_required":experience_required})
df

,JOB_title,Job_location,Company_name,Exp_required
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,3-7 Yrs
1,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro,8-11 Yrs
2,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited,5-8 Yrs
3,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics,4-8 Yrs
4,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC,1-4 Yrs
5,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro,0-2 Yrs
6,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-8 Yrs
7,Data Scientist / Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Mindtree,5-7 Yrs
8,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS),1-2 Yrs
9,Data Scientist,"Bangalore/Bengaluru, Noida\n(WFH during Covid)",Paytm,1-3 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [17]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.naukri.com/")

In [18]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")  
designation.send_keys('Data Scientist')

In [19]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")

search.click()

In [20]:
location=driver.find_element(By.XPATH,"//span[@title='Delhi / NCR']")
                                                 
location.click()

In [21]:
salary=driver.find_element(By.XPATH,"//span[@title='3-6 Lakhs']")

salary.click()

In [22]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

#scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,'//a [@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
#scraping company name from the given web page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping  job experience from the given web page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [23]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [24]:
df=pd.DataFrame({'JOB_title':job_title,'Job_location':job_location,'Company_name':company_name,"Exp_required":experience_required})
df

,JOB_title,Job_location,Company_name,Exp_required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
4,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
5,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
6,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
7,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
8,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs
9,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price


The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
ASSIGNMENT 2
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [25]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.flipkart.com/")

In [26]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")  

product.send_keys('sunglasses')

In [27]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.submit()

In [28]:
brand_name=[]
product_description=[]
buy_price=[]

brand_tags=driver.find_elements(By.CLASS_NAME,'_2WkVRV')
for i in brand_tags[:100]:
    brand=i.text
    brand_name.append(brand)
    
    
product_tags=driver.find_elements(By.CLASS_NAME,'IRpwTa')
for i in product_tags[:100]:
    product=i.text
    product_description.append(product)
    
    
price_tags=driver.find_elements(By.CLASS_NAME,'_3bPFwb')
for i in price_tags[:100]:
    price=i.text
    buy_price.append(price)

In [29]:
#to fetch the url

url=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
url[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="44627d74a20a435e2e3790dfe40f5f87", element="6b1ecccd-a3fd-4f2f-be9d-883cdb3d3a6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44627d74a20a435e2e3790dfe40f5f87", element="4597df03-a87e-4d1a-ba69-cf23a1abb3d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44627d74a20a435e2e3790dfe40f5f87", element="02d05bfd-f328-4b10-8423-66abfac938ec")>]

In [30]:
for i in url[0:3]:
    print(i.get_attribute('href'))

https://www.flipkart.com/vincent-chase-lenskart-retro-square-sunglasses/p/itmb5f58c7d01e82?pid=SGLGFYDUHNXNHUFC&lid=LSTSGLGFYDUHNXNHUFCYMSZKQ&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=en_OWhqd9jUidg0N82zlgJPP%2FX8u%2BxSwQ8AUbX7Fd2RUsH7GuKMIdB8uQTOrMER%2Bc44sX1NnEzofunIrpUb38frmA%3D%3D&ppt=hp&ppn=homepage&ssid=e76raoe3bk0000001661445516598&qH=2cc465e3eef5bff0
https://www.flipkart.com/vincent-chase-round-sunglasses/p/itm660d3371266b4?pid=SGLG8D97VVNMB4HK&lid=LSTSGLG8D97VVNMB4HKPEULBS&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=en_OWhqd9jUidg0N82zlgJPP%2FX8u%2BxSwQ8AUbX7Fd2RUsE3jcxV%2BTDt1THhHe%2B7xqi5gX%2FJdn%2BmIjDzd5mD%2FXq%2F9Q%3D%3D&ppt=hp&ppn=homepage&ssid=e76raoe3bk0000001661445516598&qH=2cc465e3eef5bff0
https://www.flipkart.com/new-specs-rectangular-sunglasses/p/itm545a0f9e323c3?pid=SGLG2ESNVFBGD6NQ&lid=LSTSGLG2ESNVFBGD6NQDMTXPL&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_3&otracker=search&otracker1=search&fm=organic&iid=b2d79eaf-0df9-40bd-b30b-d6a3840d4477.SGLG2ESNVFBGD6NQ.SEARCH&ppt=hp&ppn=homepage&ssid=e76raoe3bk0000001661445516598&qH=2cc465e3eef5bff0

In [31]:
product_description=[]
brand_name=[]
buy_price=[]

start=0
end=3

for page in range(start,end):
    product_tags=driver.find_elements(By.CLASS_NAME,'IRpwTa')
    for i in product_tags:
        if len(product_description) < 100:
            product=i.text
            product_description.append(product)
         
            
    brand_tags=driver.find_elements(By.CLASS_NAME,'_2WkVRV')
    for i in brand_tags:
        if len(brand_name) < 100:
            brand=i.text
            brand_name.append(brand)

    price_tags=driver.find_elements(By.CLASS_NAME,'_3bPFwb')
    for i in price_tags:
        if len(buy_price) < 100:
            price=i.text
            buy_price.append(price)
    
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
    next_button.click()
    time.sleep(3)

ElementClickInterceptedException: Message: element click intercepted: Element <span>...</span> is not clickable at point (855, 694). Other element would receive the click: <div class="_2hriZF _2rbIyg" tabindex="-1">...</div>
  (Session info: chrome=104.0.5112.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x006E78B3+2193587]
	Ordinal0 [0x00680681+1771137]
	Ordinal0 [0x005941A8+803240]
	Ordinal0 [0x005C8C84+1019012]
	Ordinal0 [0x005C6C48+1010760]
	Ordinal0 [0x005C493B+1001787]
	Ordinal0 [0x005C3699+997017]
	Ordinal0 [0x005B9223+954915]
	Ordinal0 [0x005DD7AC+1103788]
	Ordinal0 [0x005B8C04+953348]
	Ordinal0 [0x005DD9C4+1104324]
	Ordinal0 [0x005EDAE2+1170146]
	Ordinal0 [0x005DD5C6+1103302]
	Ordinal0 [0x005B77E0+948192]
	Ordinal0 [0x005B86E6+952038]
	GetHandleVerifier [0x00990CB2+2738370]
	GetHandleVerifier [0x009821B8+2678216]
	GetHandleVerifier [0x007717AA+512954]
	GetHandleVerifier [0x00770856+509030]
	Ordinal0 [0x0068743B+1799227]
	Ordinal0 [0x0068BB68+1817448]
	Ordinal0 [0x0068BC55+1817685]
	Ordinal0 [0x00695230+1856048]
	BaseThreadInitThunk [0x7489FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77077A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77077A6E+238]

In [32]:
print(len(brand_name),len(product_description),len(buy_price))

40 40 40

In [33]:
df=pd.DataFrame({'brand name':brand_name,'product':product_description,'price':buy_price})
df

,brand name,product,price
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Retro Squ...","₹949₹1,99952% off\nFree delivery"
1,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)","₹1,533₹1,99923% off\nFree delivery"
2,New Specs,UV Protection Rectangular Sunglasses (Free Size),"₹264₹2,59989% off\nFree delivery"
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799₹99920% off\nFree delivery
4,New Specs,UV Protection Oval Sunglasses (Free Size),₹207₹99979% off\nFree delivery
5,Elligator,UV Protection Round Sunglasses (54),"₹298₹2,49588% off\nFree delivery"
6,PIRASO,UV Protection Rectangular Sunglasses (52),"₹306₹2,59988% off\nFree delivery"
7,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)","₹1,533₹1,99923% off\nFree delivery"
8,PIRASO,UV Protection Aviator Sunglasses (58),"₹359₹2,59986% off\nFree delivery"
9,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹267₹99973% off\nFree delivery
10,PIRASO,UV Protection Aviator Sunglasses (54),"₹279₹1,59982% off\nFree delivery"
11,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...","₹949₹1,99952% off\nFree delivery"
12,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639₹79920% off\nFree delivery
13,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...","₹283₹1,29978% off\nFree delivery"
14,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...","₹474₹1,99976% off\nFree delivery"
15,john jacobs,UV Protection Round Sunglasses (53),"₹3,325₹5,00033% off\nFree delivery"
16,Sewell,"Mirrored, Night Vision, UV Protection, Riding ...","₹265₹1,49982% off\nFree delivery"
17,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...","₹195₹1,69988% off\nFree delivery"
18,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹189₹99981% off\nFree delivery
19,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)","₹849₹1,99957% off\nFree delivery"
20,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),"₹474₹2,22578% off\nFree delivery"
21,SRPM,UV Protection Wayfarer Sunglasses (50),"₹200₹1,29984% off\nFree delivery"
22,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),"₹299₹2,49988% off\nFree delivery"
23,Roadster,UV Protection Oval Sunglasses (55),"₹459₹1,09958% off"
24,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹639₹79920% off\nFree delivery
25,IZAAN MART,UV Protection Rectangular Sunglasses (55),"₹290₹1,99985% off\nFree delivery"
26,Elligator,UV Protection Round Sunglasses (53),₹196₹99880% off\nFree delivery
27,VINCENT CHASE,by Lenskart UV Protection Round Sunglasses (58),"₹949₹1,99952% off\nFree delivery"
28,CRYSTAL CART,"Mirrored, Night Vision Oval Sunglasses (Free S...",₹209₹59965% off\nFree delivery
29,kingsunglasses,UV Protection Rectangular Sunglasses (55),"₹189₹1,29985% off\nFree delivery"
30,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹719₹89920% off\nFree delivery
31,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...","₹949₹1,99952% off\nFree delivery"
32,PIRASO,UV Protection Aviator Sunglasses (54),"₹279₹1,59982% off\nFree delivery"
33,Rich Club,UV Protection Retro Square Sunglasses (54),₹299₹69957% off\nFree delivery
34,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...","₹379₹1,99981% off\nFree delivery"
35,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)","₹949₹1,99952% off\nFree delivery"
36,Mi,Polarized Aviator Sunglasses (Free Size),"₹799₹1,19933% off\nFree delivery"
37,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",₹209₹99979% off\nFree delivery
38,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),"₹616₹2,55575% off\nFree delivery"
39,VINCENT CHASE,"by Lenskart Polarized, UV Protection Retro Squ...","₹949₹1,99952% off\nFree delivery"

#NOTE- i was able to get the output for 100 sunglasses initially and due to element click interception error which happens because of dynamic website (as said in the webinar)..I was able to get output for first 40 sunglasses

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [34]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.flipkart.com/")

In [35]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")  

product.send_keys('iphone 11')

In [36]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.submit()

In [38]:
url=driver.find_elements(By.XPATH,'//a[@class="_1fQZEK"]')
driver.get(url[0].get_attribute('href'))

In [39]:
rating_score=[]
review_summary=[]
full_review=[]

rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[:100]:
    rating=i.text
    rating_score.append(rating)
    
    
review_tags=driver.find_elements(By.CLASS_NAME,'_2-N8zT')
for i in review_tags[:100]:
    review=i.text
    review_summary.append(review)
    
    
full_tags=driver.find_elements(By.CLASS_NAME,'t-ZTKy')
for i in full_tags[:100]:
    full=i.text
    full_review.append(full)

In [42]:
url_all_reviews=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a')
driver.get(url_all_reviews[0].get_attribute('href'))

IndexError: list index out of range

In [44]:
rating_score=[]
review_summary=[]
full_review=[]

start=0
end=11

for page in range(start,end):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    rating_tags
    for i in rating_tags:
        if len(rating_score) < 100:
            rating=i.text
            rating_score.append(rating)
     
            
    review_tags=driver.find_elements(By.CLASS_NAME,'_2-N8zT')
    for i in review_tags:
        if len(review_summary) < 100:
            review=i.text
            review_summary.append(review)

    full_tags=driver.find_elements(By.CLASS_NAME,'t-ZTKy')
    for i in full_tags:
        if len(full_review) < 100:
            full=i.text
            full_review.append(full)
            
    url_next=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    if len(url_next) == 1:
        for i in url_next[:1]:
            driver.get(i.get_attribute('href'))
    for i in url_next[1:2]:
        driver.get(i.get_attribute('href'))
   
    time.sleep(3)

In [45]:
print(len(rating_score),len(review_summary),len(full_review))

100 100 100

In [46]:
df=pd.DataFrame({'rating':rating_score,'summary':review_summary,'full review':full_review})
df

,rating,summary,full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,,,
4,,,
...,...,...,...
95,,,
96,,,
97,,,
98,,,
99,,,

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [47]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.flipkart.com/")

In [48]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")  

product.send_keys('sneakers')

In [49]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.submit()

In [50]:
brand_name=[]
product_description=[]
buy_price=[]
offer_percent=[]

brand_tags=driver.find_elements(By.CLASS_NAME,'_2WkVRV')
for i in brand_tags[:100]:
    brand=i.text
    brand_name.append(brand)
    
    
product_tags=driver.find_elements(By.CLASS_NAME,'IRpwTa')
for i in product_tags[:100]:
    product=i.text
    product_description.append(product)
    
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[:100]:
    price=i.text
    buy_price.append(price)
    
offer_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in offer_tags[:100]:
    offer=i.text
    offer_percent.append(offer)

In [51]:
url=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
url[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="b5420c95e6b961245c19c853cba2b683", element="e8eae870-58b9-42b1-9dee-b137b1f0d3cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5420c95e6b961245c19c853cba2b683", element="90c831af-6011-4eb9-8f1a-9826ed18018e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b5420c95e6b961245c19c853cba2b683", element="95625697-6ed4-41a8-99e5-bf5d52a869cc")>]

In [52]:
for i in url[0:3]:
    print(i.get_attribute('href'))

https://www.flipkart.com/k-footlance-men-s-casual-sneaker-shoes-running-walking-sneakers-men/p/itmbe6800418195e?pid=SHOGHYRUUHDFHJNW&lid=LSTSHOGHYRUUHDFHJNWEFPLHR&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=en_gU35PAlchDPxYSgCT7nGWbKVeSL%2BDc%2B2WorqsWNVEybhWmCxcYwE5LsxNp%2FbgRcHJB%2B3llOU9%2FQtg1iX4wjWaw%3D%3D&ppt=hp&ppn=homepage&ssid=4ha3zpykw00000001661445706428&qH=a1743c0d39461290
https://www.flipkart.com/chevit-stylish-comfortable-lightweight-breathable-t-blue-sneakers-men/p/itm5dada34a6488a?pid=SHOGFHRBGBBGD8RT&lid=LSTSHOGFHRBGBBGD8RT58FWOO&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=en_gU35PAlchDPxYSgCT7nGWbKVeSL%2BDc%2B2WorqsWNVEyZckTVr%2BflJkqVj29sop9KiSB97pmr062oYvDfSwgKCBg%3D%3D&ppt=hp&ppn=homepage&ssid=4ha3zpykw00000001661445706428&qH=a1743c0d39461290
https://www.flipkart.com/magnolia-sneakers-men/p/itmb42a681797f2d?pid=SHOGYAAFUZKMR64D&lid=LSTSHOGYAAFUZKMR64DI8THYW&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_3&otracker=search&otracker1=search&fm=organic&iid=9f252bb7-a63a-48b3-86ac-d4ee29c7f557.SHOGYAAFUZKMR64D.SEARCH&ppt=hp&ppn=homepage&ssid=4ha3zpykw00000001661445706428&qH=a1743c0d39461290

In [53]:
product_description=[]
brand_name=[]
buy_price=[]
offer_percent=[]

start=0
end=3

for page in range(start,end):
    product_tags=driver.find_elements(By.CLASS_NAME,'IRpwTa')
    for i in product_tags:
        if len(product_description) < 100:
            product=i.text
            product_description.append(product)
         
            
    brand_tags=driver.find_elements(By.CLASS_NAME,'_2WkVRV')
    for i in brand_tags:
        if len(brand_name) < 100:
            brand=i.text
            brand_name.append(brand)

    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        if len(buy_price) < 100:
            price=i.text
            buy_price.append(price)
            
    offer_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in offer_tags:
        if len(offer_tags) < 100:
            offer=i.text
            offer_percent.append(offer)
    
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
        
    time.sleep(3)

ElementClickInterceptedException: Message: element click intercepted: Element <a class="_1LKTO3" href="/search?q=sneakers&amp;otracker=search&amp;otracker1=search&amp;marketplace=FLIPKART&amp;as-show=on&amp;as=off&amp;page=2">...</a> is not clickable at point (859, 687). Other element would receive the click: <div class="_2hriZF _2rbIyg" tabindex="-1">...</div>
  (Session info: chrome=104.0.5112.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x006E78B3+2193587]
	Ordinal0 [0x00680681+1771137]
	Ordinal0 [0x005941A8+803240]
	Ordinal0 [0x005C8C84+1019012]
	Ordinal0 [0x005C6C48+1010760]
	Ordinal0 [0x005C493B+1001787]
	Ordinal0 [0x005C3699+997017]
	Ordinal0 [0x005B9223+954915]
	Ordinal0 [0x005DD7AC+1103788]
	Ordinal0 [0x005B8C04+953348]
	Ordinal0 [0x005DD9C4+1104324]
	Ordinal0 [0x005EDAE2+1170146]
	Ordinal0 [0x005DD5C6+1103302]
	Ordinal0 [0x005B77E0+948192]
	Ordinal0 [0x005B86E6+952038]
	GetHandleVerifier [0x00990CB2+2738370]
	GetHandleVerifier [0x009821B8+2678216]
	GetHandleVerifier [0x007717AA+512954]
	GetHandleVerifier [0x00770856+509030]
	Ordinal0 [0x0068743B+1799227]
	Ordinal0 [0x0068BB68+1817448]
	Ordinal0 [0x0068BC55+1817685]
	Ordinal0 [0x00695230+1856048]
	BaseThreadInitThunk [0x7489FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77077A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77077A6E+238]

In [54]:
print(len(brand_name),len(product_description),len(buy_price),len(offer_percent))

40 40 40 40

In [55]:
df=pd.DataFrame({'brand':brand_name,'product':product_description,'price':buy_price,'offer':offer_percent})
df

,brand,product,price,offer
0,K- FOOTLANCE,Men's Casual sneaker shoes running shoes walki...,₹449,55% off
1,Chevit,"Stylish Comfortable Lightweight, Breathable T....",₹299,62% off
2,Magnolia,Sneakers For Men,₹399,60% off
3,Labbin,Sneakers For Men,₹499,50% off
4,Magnolia,Sneakers For Men,₹374,62% off
5,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,₹357,82% off
6,aadi,Mesh | Ultralightweight | Comfortable | Breath...,₹374,81% off
7,BIRDE,Premium Sneakers for men Sneakers For Men,₹536,64% off
8,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹549,71% off
9,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,₹429,71% off
10,Deals4you,Sneakers For Men,₹349,76% off
11,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,₹596,76% off
12,Layasa,Sneakers For Men,₹399,60% off
13,URBANBOX,Sneakers Sneakers For Men,₹197,80% off
14,Deals4you,Sneakers For Women,₹345,65% off
15,Wenzel,Extra Comfort Sneakers For Men,₹799,60% off
16,WHITE WALKERS,Stylish & Trending Outdoor Walking Comfortable...,₹479,60% off
17,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹459,74% off
18,Sparx,Men White Sneakers Sneakers For Men,₹709,15% off
19,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,₹596,76% off
20,AMICO,Sneakers For Men,₹426,57% off
21,ADIDAS,Vs Pace Sneakers For Men,"₹1,907",52% off
22,WHITE WALKERS,Stylish & Trending Outdoor Walking Comfortable...,₹479,60% off
23,World Wear Footwear,Exclusive Affordable Collection of Trendy & St...,₹296,40% off
24,Layasa,supr Sneakers For Men,₹199,80% off
25,CLYMB,Sneakers For Men,₹463,69% off
26,RapidBox,Sneakers For Men,₹610,6% off
27,PUMA,Ferrari Electron E Pro Sneakers For Men,"₹4,285",34% off
28,HOTSTYLE,CR-1 Sneakers For Men,₹283,43% off
29,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹390,60% off
30,BIRDE,Sports Running Shoes Sneakers For Men,₹299,40% off
31,PUMA,Pacer Future SlipOn Fade Sneakers For Men,"₹3,019",45% off
32,Kraasa,"Casuals, Canvas, Partywear Sneakers For Men",₹499,50% off
33,World Wear Footwear,Latest Collection Black-349 Trendy & Stylish C...,₹249,50% off
34,Kzaara,Sneakers For Men,₹259,74% off
35,PUMA,Court Star Vulc FS Sneakers For Men,"₹2,528",57% off
36,LEVI'S,EXCLUSIVE Sneaker For Men,"₹1,119",60% off
37,Xtoon,Modern Trendy Sneakers boot Sneakers For Men,₹499,66% off
38,aadi,Sneakers For Men,₹372,81% off
39,World Wear Footwear,New Latest Affordable Range of Trendy Sneakers...,₹299,70% off

#NOTE- i was able to get the output for 100 sneakers initially and due to element click interception error 
which happens because of dynamic website (as said in the webinar)..I was able to get output for first 40 sneakers only

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [56]:


driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.myntra.com/shoes")

This website can't be scraped

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [57]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.amazon.in/")

In [58]:
product=driver.find_element(By.XPATH,"//input[@type='text']")  

product.send_keys('Laptop')

In [59]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div')

search_btn.click()

In [60]:
CPU_type=driver.find_element(By.XPATH,'//span[text()="Intel Core i7"]')

CPU_type.click()

In [61]:
product_title=[]
product_ratings=[]
product_price=[]

title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]:
    title=i.text
    product_title.append(title)
    
    
ratings_tags=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')
for i in ratings_tags[0:10]:
    ratings=i.text
    product_ratings.append(ratings)
    
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price=i.text
    product_price.append(price)

In [62]:
print(len(product_title),len(product_ratings),len(product_price))

10 10 10

In [63]:
df=pd.DataFrame({'title':product_title,'ratings':product_ratings,'price':product_price})
df

                                               title ratings     price
0  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...      24    69,990
1  ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...      16  1,04,990
2  Samsung Galaxy Book2 Intel 12th Gen core i7 39...      27    79,990
3  Dell New G15 5520 Gaming Laptop, Intel i7-1270...       4  1,28,239
4  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...      71    94,990
5  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...      24    84,990
6  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...      32    69,990
7  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...      26    57,700
8  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...      19  1,04,990
9  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...      18    87,990

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3.After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [64]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.ambitionbox.com/")

In [65]:
job_btn=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[5]/a')

job_btn.click()

In [66]:
designation=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")  

designation.send_keys('Data Scientist')

In [67]:
search_btn=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')

search_btn.click()

In [68]:
location=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")

location.click()

In [69]:
checkbox=driver.find_element(By.XPATH,"//input[@id='location_Noida']")

checkbox.click()

In [70]:
company_name=[]
days_posted=[]
company_rating=[]

name_tags=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in name_tags[0:10]:
    name=i.text
    company_name.append(name)
    
    
days_tags=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in days_tags[0:10]:
    days=i.text
    days_posted.append(days)
    
rating_tags=driver.find_elements(By.XPATH,'//span[@class="body-small"]')
for i in rating_tags[0:10]:
    rating=i.text
    company_rating.append(rating)

In [71]:
print(len(company_name),len(days_posted),len(rating_tags))

10 10 10

In [72]:
df=pd.DataFrame({'company name':company_name,'no.of days':days_posted,'company rating':company_rating})
df

,company name,no.of days,company rating
0,CBRE South Asia Pvt Ltd,14d ago,4.3
1,GENPACT India Private Limited,via naukri.com,4.0
2,Genpact,7d ago,4.0
3,Ericsson India Global Services Pvt. Ltd.,via naukri.com,4.3
4,GENPACT India Private Limited,9d ago,4.0
5,Optum Global Solutions (India) Private Limited,via iimjobs.com,4.1
6,Optum Global Solutions (India) Private Limited,24d ago,4.1
7,Ericsson India Global Services Pvt. Ltd.,via naukri.com,4.3
8,SOPRA STERIA INDIA LIMITED,17d ago,4.2
9,One97 Communications Limited,via naukri.com,3.7

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [105]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.ambitionbox.com/")

In [106]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/i')

search_btn.click()

In [107]:
salary_btn=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div/div[2]/p')

salary_btn.click()

In [108]:
designation=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")  

designation.send_keys('Data Scientist')

In [112]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/i[1]')

search.click()

In [113]:
company_name=[]
salary_record=[]
avg_salary=[]
min_salary=[]
max_salary=[]
experience_required=[]

name_tags=driver.find_elements(By.XPATH,'//div[@class="company-info"]//a')
for i in name_tags[0:10]:
    name=i.text
    company_name.append(name)
    
    
salary_tags=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in salary_tags[0:10]:
    salary=i.text
    salary_record.append(salary)
    
avg_tags=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg_tags[0:10]:
    avg=i.text
    avg_salary.append(avg)
    
min_tags=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in min_tags[0:20:2]:
    min=i.text
    min_salary.append(min)
    
max_tags=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in max_tags[1:20:2]:
    max=i.text
    max_salary.append(max)
    
experience_tags=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [114]:
print(len(company_name),len(salary_record),len(avg_salary),len(min_salary),len(max_salary),len(experience_required))

10 10 10 10 10 10

In [115]:
df=pd.DataFrame({'company name':company_name,'no.of salary records':salary_record,'avg salary':avg_salary,'min salary':min_salary,'max salary':max_salary,'experience':experience_required})
df

,company name,no.of salary records,avg salary,min salary,max salary,experience
0,Walmart\nData Scientist Salary,(based on 22 salaries),₹ 31.7L,₹ 25.0L,₹ 45.0L,3-4 yrs experience (based on 22 salaries)
1,Ab Inbev\nData Scientist Salary,(based on 53 salaries),₹ 19.7L,₹ 15.0L,₹ 25.5L,2-4 yrs experience (based on 53 salaries)
2,Optum\nData Scientist Salary,(based on 48 salaries),₹ 16.5L,₹ 11.0L,₹ 22.6L,2-4 yrs experience (based on 48 salaries)
3,ZS\nData Scientist Salary,(based on 33 salaries),₹ 15.7L,₹ 11.0L,₹ 22.0L,1-2 yrs experience (based on 33 salaries)
4,Fractal Analytics\nData Scientist Salary,(based on 109 salaries),₹ 15.2L,₹ 9.0L,₹ 23.0L,2-4 yrs experience (based on 109 salaries)
5,Tiger Analytics\nData Scientist Salary,(based on 65 salaries),₹ 14.7L,₹ 9.0L,₹ 20.0L,2-4 yrs experience (based on 65 salaries)
6,Legato Health Technologies\nData Scientist Salary,(based on 11 salaries),₹ 14.5L,₹ 11.0L,₹ 20.0L,4 yrs experience (based on 11 salaries)
7,Tredence\nData Scientist Salary,(based on 12 salaries),₹ 14.1L,₹ 8.8L,₹ 17.5L,3 yrs experience (based on 12 salaries)
8,UnitedHealth\nData Scientist Salary,(based on 91 salaries),₹ 13.6L,₹ 8.0L,₹ 20.5L,2-4 yrs experience (based on 91 salaries)
9,Ford Motor\nData Scientist Salary,(based on 21 salaries),₹ 13.5L,₹ 10.0L,₹ 18.0L,3-4 yrs experience (based on 21 salaries)